
.container-flex{
  display: flex;
  height: auto;
  border:15px solid  rgb(6, 6, 48);
  text-align: center;
  padding: 20px;
}

.navbar{
  background-color: rgb(243, 181, 137);
  margin: 0px;
  border:15px solid rgb(6, 6, 48);
  border-radius: 5px; 
 
}
.mat-card {
  background-color:rgb(243, 181, 137);
  border:15px solid rgb(6, 7, 48);
  margin: 0px;
  padding: 20px;

}

.mat-card#first-card {
   padding: 0;
}
div#profile-background {
  display: flex;

}
div#profile-background img {
  width: 100%;
  height: 350px;
  border-radius: 32px 32px 32px 32px;
}
#perfil{
  border-radius: 50%;
  margin-top: -2%;
}
.container-flex{
  background-color: rgb(243, 181, 137);
}
.img-thumbnail{
  width: 200px;
  height: 200px;
}

ul{
  list-style: none;
}
footer{
  display:flex;
  background-color: rgb(243, 181, 137);
  margin: 0px;
  border:15px solid rgb(6, 6, 48);
  border-radius: 5px;
  padding: 5px; 
}
.list-group-item-light{
  padding-right: 40px; 
}



